Repository LoveAndCoding/lovely-inbox: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, yarn audit

.lintstagedrc:

{
  "*.{ts,tsx}": ["tslint --fix", "git add"],
  "{yarn.lock,package.json}": "yarn audit"
}

:name_badge: Add Name Field to Onboarding
  src/common/email.ts
  src/ui/onboarding/account/components/add.tsx
  src/ui/onboarding/account/containers/name.input.ts
  src/ui/onboarding/server-setup/thunks.ts
  src/ui/onboarding/store/email/actions.ts
  src/ui/onboarding/store/email/reducers.ts
  src/ui/onboarding/store/email/types.ts
Due: tslint --fix

:postal_horn: Add Notifier Class
  src/common/notify.channels.ts
  src/notify/index.ts
  src/notify/notifier.ts
  src/ui/communication/ipc.ts
  src/ui/menubar/components/minimize.tsx
  src/window/base.window.ts
  src/window/index.ts
  src/window/window.manager.ts
Due: tslint --fix

:control_knobs: Fix a few misc type issues
  src/ui/onboarding/server-setup/components/guess.settings.tsx
  src/ui/onboarding/server-setup/containers/guess.settings.ts
  src/window/window.manager.ts
Due: tslint --fix

:timer_clock: Fix Client Timeout for IPC Requests
  src/ui/communication/ipc.ts
Due: tslint --fix

:dagger: Add `closeAllWindows` to Window Manager
  src/main.ts
  src/window/window.manager.ts
Due: tslint --fix

:raising_hand: Account + AccountManager Classes
  src/account/account.ts
  src/account/index.ts
  src/account/manager.ts
  src/common/account.ts
  src/config/user.ts
Due: tslint --fix

:sparkles: Add Account Creation Route
  src/account/handlers.ts
  src/common/route.signatures.ts
  src/route/index.ts
Due: tslint --fix

:boat: Add Onboarding Configuration Update Handler
  src/common/notify.channels.ts
  src/config/handlers.ts
  src/config/user.ts
  src/notify/index.ts
  src/notify/notifier.ts
  src/window/window.manager.ts
Due: tslint --fix

:flight_departure: Create Account from Onboarding
  src/ui/onboarding/server-setup/components/server.settings.tsx
  src/ui/onboarding/server-setup/components/settings.screen.tsx
  src/ui/onboarding/server-setup/containers/server.settings.ts
Due: tslint --fix

:construction_worker_woman: Dependency Update
  yarn.lock
Due: yarn audit

:facepalm: Fix test/linter errors
  src/storage/base.file.storage.ts
  src/ui/onboarding/server-setup/components/server.settings.tsx
  src/ui/onboarding/server-setup/containers/server.settings.ts
  src/window/window.manager.ts
  test/unit/common/email.spec.ts
Due: tslint --fix

:see_no_evil: Fix bad merge(-ish)
  src/config/application.ts
Due: tslint --fix

:cry: Remove FA Pro (For Now)
  .npmrc
  package.json
  src/ui/menubar/components/button.tsx
  src/ui/menubar/components/close.tsx
  src/ui/menubar/components/minimize.tsx
  src/ui/onboarding/account/components/add.tsx
  src/ui/onboarding/common/components/action.pane.small.tsx
  src/ui/onboarding/server-setup/components/server.settings.tsx
  yarn.lock
Due: tslint --fix, yarn audit

:ribbon: Update Deps
  src/server/imap.connection.ts
  yarn.lock
Due: tslint --fix, yarn audit

:electron: Update Electron to 12.x
  package.json
  yarn.lock
Due: yarn audit

:balance_scale: Update Conduct Email
  CODE_OF_CONDUCT.md
Due: none

:female_detective: Add Code Scanning
  .github/workflows/codeql-analysis.yml
Due: none

:guardswoman: Couple more dep updates
  package.json
  yarn.lock
Due: yarn audit

:cartwheeling: Upgrade TS + Switch to ESLint
  .eslintignore
  .js.eslintrc.js
  .lintstagedrc
  .ts.eslintrc.js
  package.json
  tslint.json
  yarn.lock
Due: yarn audit

:dress: Update Prettier
  .prettierrc.json
  package.json
  yarn.lock
Due: yarn audit

:yarn: Update Jest
  package.json
  yarn.lock
Due: yarn audit

:ballet_shoes: Add Fastmail to Known Configs
  src/server/known.configurations.ts
Due: tslint --fix

:straight_ruler: Fix Encryption Issue
  src/common/encryption.ts
Due: tslint --fix

:passport_control: Add Password Modal
  forge.config.js
  src/config/application.ts
  src/ui/modals/password/app.tsx
  src/window/modal.window.ts
  src/window/modals/password.modal.ts
  src/window/window.manager.ts
  styles/password.css
  templates/password.html
Due: tslint --fix

:flashlight: Better Typing for Window Messages
  src/window/base.window.ts
Due: tslint --fix

:old_key: Add Plain Auth Scheme
  src/authentication/handlers.ts
  src/authentication/plain.ts
  src/authentication/scheme.ts
  src/authentication/types.ts
  src/common/route.signatures.ts
  src/route/index.ts
Due: tslint --fix

:unlock: Wire UI for Plain Auth
  src/account/account.ts
  src/account/handlers.ts
  src/account/manager.ts
  src/common/route.signatures.ts
  src/ui/communication/ipc.ts
  src/ui/onboarding/server-setup/components/server.settings.tsx
Due: tslint --fix

:telescope: Fix Auth Type Import
  src/authentication/types.ts
Due: tslint --fix

:money_with_wings: Setup Sponsorship
  .github/FUNDING.yml
Due: none
