Repository LoveAndCoding/lovely-inbox: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, yarn audit

:sweat_smile: Turn Off "Transpile Only" Typescript
  src/common/route.signatures.ts
  src/config/user.ts
  src/main.ts
  src/process.error.handlers.tsx
  src/route/router.ts
  src/server/base.connection.ts
  src/server/handlers.ts
  src/storage/ephemeral.storage.ts
  src/storage/file.storage.ts
  src/storage/secure.storage.ts
  src/storage/storage.ts
  src/ui/communication/ipc.ts
  src/ui/communication/loading.tsx
  src/ui/forms/components/button.tsx
  src/ui/forms/components/input.field.tsx
  src/ui/forms/types.ts
  src/ui/layout/components/view.tsx
  src/ui/menubar/components/button.tsx
  src/ui/onboarding/account/components/add.tsx
  src/ui/onboarding/account/components/initial.screen.tsx
  src/ui/onboarding/account/containers/email.input.ts
  src/ui/onboarding/account/containers/email.next.button.ts
  src/ui/onboarding/server-setup/components/guess.settings.tsx
  src/ui/onboarding/server-setup/components/server.settings.form.tsx
  src/ui/onboarding/server-setup/containers/guess.settings.ts
  src/ui/onboarding/server-setup/containers/server.settings.form.ts
  src/ui/onboarding/server-setup/thunks.ts
  src/ui/onboarding/store/email/actions.ts
  src/ui/onboarding/store/index.ts
  src/ui/onboarding/store/server-config/actions.ts
  src/ui/onboarding/store/server-config/types.ts
  src/window/base.window.ts
  src/window/window.manager.ts
  types/custom/index.d.ts
  types/react-balance-text/index.d.ts
  webpack.rules.js
Due: tslint --fix

:wrench: Fixture Test and Linter Fix
  src/ui/forms/components/button.tsx
  src/ui/forms/components/input.field.tsx
  src/ui/onboarding/account/containers/email.input.ts
  src/ui/onboarding/account/containers/email.next.button.ts
  test/fixture/forms/components/button.fixture.tsx
Due: tslint --fix

:key: Type Check Storage Keys
  src/config/user.ts
  src/storage/base.file.storage.ts
  src/storage/ephemeral.storage.ts
  src/storage/file.storage.ts
  src/storage/secure.storage.ts
  src/storage/storage.ts
Due: tslint --fix

:shower: Fix minor linter error
  src/ui/onboarding/account/containers/email.input.ts
Due: tslint --fix

:link: Combine Templates
  package.json
  src/main.ts
  templates/index.html
  templates/onboarding.html
Due: tslint --fix, yarn audit

:shield: Only Test on Node 12
  .github/workflows/testsuite.yml
Due: none

:world_map: Move Entrypoints to App Config
  src/config/application.ts
  src/main.ts
  src/window/window.manager.ts
Due: tslint --fix

:princess: Updating Name + License
  LICENSE
  package.json
Due: yarn audit

:hammer: Split Out Forge Config
  forge.config.js
  package.json
Due: yarn audit

:wastebasket: Cleanup Dependencies
  package.json
  yarn.lock
Due: yarn audit

:headphones: Remove Logfrom Explicit Imports
  src/logger.ts
  webpack.main.config.js
Due: tslint --fix

:iphone: Add missing DMG maker dep
  package.json
  yarn.lock
Due: yarn audit

:electron: Upgrade Electron to ^8.1.0
  package.json
  yarn.lock
Due: yarn audit

:building_construction: Get Packaging Working
  .gitignore
  forge.config.js
  src/main.ts
Due: tslint --fix

:traffic_light: Lint During CI Tests
  .github/workflows/testsuite.yml
Due: none

:1234: Include Git Rev in Non-Prod Version Numbers
  forge.config.js
Due: none

:hammer_and_pick: Build All the Things!
  .github/workflows/build.yml
Due: none

:woman_facepalming: Make Things Lovely
  .github/workflows/build.yml
Due: none

:octopus: During CI Builds, Install Dev
  .github/workflows/build.yml
Due: none

:wind_chime: Fix Build Windows Env Var
  .github/workflows/build.yml
Due: none

:name_badge: Add Build Badge to README
  README.md
Due: none

:arrow_up: Upload Build Artifacts
  .github/workflows/build.yml
Due: none

:woman_shrugging: Make Yarn Install Verbose?
  .github/workflows/build.yml
Due: none

:construction_worker_woman: Rename Test Action Job
  .github/workflows/testsuite.yml
Due: none

:older_woman: Try windows-2016 for build image
  .github/workflows/build.yml
Due: none

:package: Fix Build Artifact Location
  .github/workflows/build.yml
Due: none

:robot: Basic End-to-End Testing
  .github/workflows/testsuite.yml
  forge.config.js
  jest.common.config.js
  jest.config.js
  jest.e2e.config.js
  package.json
  test/e2e/onboard/window.test.ts
  test/e2e/test.utils.ts
  yarn.lock
Due: tslint --fix, yarn audit

:ghost: Don't Store GitHub Builds
  .github/workflows/build.yml
Due: none

:lock: Upgrade Jest and TS-Lint
  package.json
  src/window/base.window.ts
  yarn.lock
Due: tslint --fix, yarn audit

:pill: Fix Security Alert for Minimist
  yarn.lock
Due: yarn audit

:car: Testing Additional Chrome Driver args
  test/e2e/onboard/window.test.ts
Due: tslint --fix

:stop_sign: Turn Off CI E2E Testing (For Now)
  .github/workflows/testsuite.yml
Due: none

:point_right: Move WindowManager Initialization
  src/main.ts
  src/window/index.ts
Due: tslint --fix

:woman_cook: Update Deps
  yarn.lock
Due: yarn audit

:biohazard: Fix a few electron warnings
  forge.config.js
  src/main.ts
Due: tslint --fix

:currency_exchange: Fix Config Write to Disk
  src/storage/base.file.storage.ts
Due: tslint --fix

:bomb: Add `destroy` to File Storage types
  src/common/errors/invalid.state.ts
  src/storage/base.file.storage.ts
  src/storage/file.storage.ts
  src/storage/secure.storage.ts
Due: tslint --fix

:file_folder: Make App Config Folders At Startup
  src/config/application.ts
Due: tslint --fix

:door: Rename Webpack Entrypoints
  forge.config.js
  src/config/application.ts
Due: tslint --fix

:fire_extinguisher: Fix missing import for error
  src/common/errors/index.ts
Due: tslint --fix

Path conditions:
  tslint --fix: any of: *.{ts,tsx}
  yarn audit: any of: {yarn.lock,package.json}
