Repository LoveAndCoding/lovely-inbox: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, yarn audit

.lintstagedrc:

{
  "*.{ts,tsx}": ["tslint --fix", "git add"],
  "{yarn.lock,package.json}": "yarn audit"
}

Fix App Directory Dev Label
  src/config/application.ts
Due: tslint --fix

Update all the things
  package.json
  src/window/base.window.ts
  yarn.lock
Due: tslint --fix, yarn audit

Fix main window reactivation check
  src/main.ts
Due: tslint --fix

Remove Node 8.x From CI Automation
  .github/workflows/testsuite.yml
Due: none

Fix variable redeclare in Aphrodite wrapper
  src/ui/styles.ts
Due: tslint --fix

Fix fix main window reactivation check
  src/window/window.manager.ts
Due: tslint --fix

Create IPC Router for IPC Requests
  package.json
  src/account/handlers.ts
  src/common/route.signatures.ts
  src/common/server.config.ts
  src/main.ts
  src/route/index.ts
  src/route/router.ts
  src/window/base.window.ts
  src/window/onboard.window.ts
  src/window/window.manager.ts
Due: tslint --fix, yarn audit

Client-side of IPC Router work
  src/common/errors.ts
  src/ui/communication/ipc.ts
  src/ui/menubar/components/minimize.tsx
  src/window/window.preload.js
Due: tslint --fix

Add Guess Configuration UI
  package.json
  src/ui/onboarding/account/components/add.tsx
  src/ui/onboarding/account/components/get.started.tsx
  src/ui/onboarding/account/components/initial.screen.tsx
  src/ui/onboarding/account/containers/email.input.ts
  src/ui/onboarding/account/containers/email.next.button.ts
  src/ui/onboarding/actions/index.ts
  src/ui/onboarding/actions/names.ts
  src/ui/onboarding/actions/types.ts
  src/ui/onboarding/app.tsx
  src/ui/onboarding/common/components/action.pane.small.tsx
  src/ui/onboarding/common/components/menubar.tsx
  src/ui/onboarding/common/components/welcome.pane.tsx
  src/ui/onboarding/containers/email.next.button.ts
  src/ui/onboarding/reducers/email.ts
  src/ui/onboarding/reducers/index.ts
  src/ui/onboarding/server-setup/components/finding.server.tsx
  src/ui/onboarding/server-setup/components/guess.settings.tsx
  src/ui/onboarding/server-setup/components/server.settings.tsx
  src/ui/onboarding/server-setup/components/settings.screen.tsx
  src/ui/onboarding/server-setup/containers/guess.next.button.ts
  src/ui/onboarding/server-setup/containers/guess.settings.ts
  src/ui/onboarding/server-setup/thunks.ts
  src/ui/onboarding/store/email/actions.ts
  src/ui/onboarding/store/email/reducers.ts
  src/ui/onboarding/store/email/types.ts
  src/ui/onboarding/store/index.ts
  src/ui/onboarding/store/server-config/actions.ts
  src/ui/onboarding/store/server-config/reducers.ts
  src/ui/onboarding/store/server-config/types.ts
  yarn.lock
Due: tslint --fix, yarn audit

Fix Loading Icon Image
  src/ui/communication/loading.tsx
Due: tslint --fix

Missed Definition for Tail Type
  src/common/types.ts
Due: tslint --fix

Lint Fixes & Making Prettier + TSLint Play Nice
  package.json
  src/common/errors/index.ts
  src/common/errors/invalid.email.ts
  src/common/errors/ipc.timeout.ts
  src/ui/communication/ipc.ts
  src/ui/onboarding/account/containers/email.input.ts
  src/ui/onboarding/server-setup/components/guess.settings.tsx
  src/ui/onboarding/server-setup/components/server.settings.tsx
  src/ui/onboarding/server-setup/components/settings.screen.tsx
  src/ui/onboarding/server-setup/containers/guess.settings.ts
  src/ui/onboarding/server-setup/thunks.ts
  src/ui/onboarding/store/email/actions.ts
  src/ui/onboarding/store/email/reducers.ts
  src/ui/onboarding/store/index.ts
  src/ui/onboarding/store/server-config/actions.ts
  src/ui/onboarding/store/server-config/reducers.ts
  src/window/base.window.ts
  tslint.json
  yarn.lock
Due: tslint --fix, yarn audit

Fix Default Email Value on Onboarding Screen
  src/ui/onboarding/account/containers/email.input.ts
Due: tslint --fix

Guess Incoming Server Config
  src/account/handlers.ts
  src/common/server.config.ts
  src/route/index.ts
  src/server/base.connection.ts
  src/server/handlers.ts
  src/server/imap.connection.ts
  src/server/known.configurations.ts
  src/server/server.command.ts
Due: tslint --fix

Fix Welcome Pane Background Image
  src/ui/onboarding/common/components/welcome.pane.tsx
Due: tslint --fix

Make Email Input Component General
  src/ui/forms/components/input.field.tsx
  src/ui/onboarding/account/components/add.tsx
  src/ui/onboarding/account/containers/email.input.ts
Due: tslint --fix

Cleaning up some leftover files
  src/ui/onboarding/account/add.tsx
  src/ui/onboarding/account/server.settings.tsx
Due: tslint --fix

Style Tweaks for Onboarding Window
  src/ui/forms/components/button.tsx
  src/ui/onboarding/account/components/add.tsx
  src/ui/onboarding/account/components/get.started.tsx
  src/ui/onboarding/common/components/action.pane.small.tsx
  src/ui/onboarding/common/components/welcome.pane.tsx
  src/ui/styles.ts
Due: tslint --fix

Add Server Settings Screen
  package.json
  src/ui/forms/components/input.field.tsx
  src/ui/onboarding/server-setup/components/finding.server.tsx
  src/ui/onboarding/server-setup/components/guess.settings.tsx
  src/ui/onboarding/server-setup/components/server.settings.form.tsx
  src/ui/onboarding/server-setup/components/server.settings.tsx
  src/ui/onboarding/server-setup/containers/server.settings.form.ts
  yarn.lock
Due: tslint --fix, yarn audit

Small Code Cleanup
  src/ui/onboarding/account/components/get.started.tsx
Due: tslint --fix

Fixing some minor TS issues
  src/logger.ts
  src/server/base.connection.ts
  src/server/handlers.ts
  src/server/imap.connection.ts
  src/server/known.configurations.ts
Due: tslint --fix

Support Getting Username for Known ConfigsWill be needed in prep for authentication work
  src/common/email.ts
  src/common/server.config.ts
  src/server/handlers.ts
  src/server/known.configurations.ts
Due: tslint --fix

Fix tests
  src/common/email.ts
  test/fixture/forms/components/__snapshots__/button.fixture.tsx.snap
Due: tslint --fix

Type Safety Cleanup
  src/common/server.config.ts
  src/server/base.connection.ts
  src/server/handlers.ts
  src/server/known.configurations.ts
  src/server/server.command.ts
Due: tslint --fix

Use Raw Socket for IMAP Test Connections
  src/server/handlers.ts
  src/server/imap.connection.ts
Due: tslint --fix

AppDirectory Library Types & Plus Safety Checks
  src/config/application.ts
  tsconfig.json
  types/appdirectory/index.d.ts
Due: tslint --fix

Script to List Capabilities of Known Servers
  scripts/known.server.caps.ts
Due: tslint --fix

Upgrade Typescript to ^3.7.5
  package.json
  yarn.lock
Due: yarn audit

Fix On-Boarding Window Disappearing Error
  src/ui/onboarding/server-setup/components/server.settings.form.tsx
Due: tslint --fix

Add UID Helper Functions
  src/ui/layout/uid.factory.ts
  test/unit/ui/layout/uid.factory.spec.ts
Due: tslint --fix

`InputField` Clean Up & Fixture Tests :camera:
  src/ui/forms/components/input.field.tsx
  test/fixture/forms/components/__snapshots__/input.field.fixture.tsx.snap
  test/fixture/forms/components/input.field.fixture.tsx
Due: tslint --fix

:microscope: Bunch of Small Linter Fixes
  src/server/base.connection.ts
  src/server/handlers.ts
  src/server/imap.connection.ts
  src/server/known.configurations.ts
  src/ui/layout/uid.factory.ts
  src/ui/onboarding/server-setup/components/guess.settings.tsx
  src/ui/onboarding/server-setup/components/server.settings.form.tsx
Due: tslint --fix

:heavy_check_mark: Email Input Type Safety Up
  src/ui/forms/components/input.field.tsx
  src/ui/onboarding/account/containers/email.input.ts
Due: tslint --fix

:floppy_disk: Save Server Settings Changes
  src/ui/onboarding/server-setup/components/server.settings.form.tsx
  src/ui/onboarding/server-setup/containers/server.settings.form.ts
  src/ui/onboarding/store/index.ts
  src/ui/onboarding/store/server-config/actions.ts
  src/ui/onboarding/store/server-config/reducers.ts
  src/ui/onboarding/store/server-config/types.ts
Due: tslint --fix

:wavy_dash: IServerConfig no longer extends known
  src/common/server.config.ts
Due: tslint --fix

:up: Upgrading TS to ^3.8.1
  package.json
  yarn.lock
Due: yarn audit

:skull: Remove LESS and Hacky CSS Import
  package.json
  src/onboarding.tsx
  src/renderer.tsx
  styles/base.css
  webpack.renderer.config.js
  webpack.rules.js
  yarn.lock
Due: tslint --fix, yarn audit

:pushpin: Shorten Imports for Images
  package.json
  src/ui/communication/loading.tsx
  src/ui/onboarding/account/components/add.tsx
  src/ui/onboarding/account/components/get.started.tsx
  src/ui/onboarding/common/components/welcome.pane.tsx
  src/window/base.window.ts
  tsconfig.json
  webpack.renderer.config.js
  yarn.lock
Due: tslint --fix, yarn audit

:lipstick: Stop Loading CSS Via Unused Import
  package.json
  src/renderer.tsx
  webpack.rules.js
  yarn.lock
Due: tslint --fix, yarn audit

:arrow_up: Bump TS Target to ES2019
  tsconfig.json
  webpack.rules.js
Due: none
