Repository LoveAndCoding/lovely-inbox: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --fix, yarn audit

Missed Form Types file
  src/ui/forms/types.ts
Due: tslint --fix, prettier --fix

Fix some linter errors
  src/ui/forms/components/button.tsx
  src/ui/forms/components/email.text.field.tsx
  src/ui/onboarding/account/add.tsx
  src/ui/styles.ts
Due: tslint --fix, prettier --fix

add husky as a dep
  package.json
  yarn.lock
Due: yarn audit

Actually install prettier :facepalm:
  package.json
  yarn.lock
Due: yarn audit

Give the app an actual icon
  .lintstagedrc
  images/full.logo.png
  images/full.logo.svg
  images/icon.128.png
  images/icon.128.svg
  images/icon.16.png
  images/icon.16.svg
  images/icon.256.png
  images/icon.256.svg
  images/icon.32.png
  images/icon.32.svg
  images/icon.512.png
  images/icon.512.svg
  images/icon.64.png
  images/icon.64.svg
  images/icons.ico
  package.json
  src/window.manager.ts
  webpack.rules.js
  yarn.lock
Due: tslint --fix, prettier --fix, yarn audit

Creating a shared Email class
  src/common/email.ts
  src/common/errors.ts
Due: tslint --fix, prettier --fix

Jest Test Suite + Email Class Tests
  jest.config.js
  package.json
  test/unit/common/email.spec.ts
  tsconfig.json
  yarn.lock
Due: tslint --fix, prettier --fix, yarn audit

Cleanup old TODO
  src/main.ts
Due: tslint --fix, prettier --fix

Bit of code cleanup :shower:
  src/ui/onboarding/app.tsx
Due: tslint --fix, prettier --fix

Fix some aphrodite type errors
  src/ui/styles.ts
Due: tslint --fix, prettier --fix

Adding Snapshot Testing + Button Snapshot Test
  jest.config.js
  package.json
  src/ui/forms/components/button.tsx
  test/fixture/forms/components/__snapshots__/button.fixture.tsx.snap
  test/fixture/forms/components/button.fixture.tsx
  test/jest.setup.worker.ts
  yarn.lock
Due: tslint --fix, prettier --fix, yarn audit

Add workflow file for tests
  .github/workflows/testsuite.yml
Due: none

Setup Font Awesome Pro repo in project
  .npmrc
Due: none

Switch to Auth Token Setup for FA Pro
  .github/workflows/testsuite.yml
Due: none

Use the FA auth env var in .npmrc
  .npmrc
Due: none

Remove FA auth token config in workflow file
  .github/workflows/testsuite.yml
Due: none

Fix workflows file
  .github/workflows/testsuite.yml
Due: none

Adding Actions Badge to README
  README.md
Due: none

Fix badge for tests
  .github/workflows/testsuite.yml
  README.md
Due: none

Removing FA Auth Token from .npmrc
  .npmrc
Due: none

Form Component Improvements
  src/ui/forms/components/button.tsx
  src/ui/forms/components/email.text.field.tsx
  src/ui/forms/types.ts
  test/fixture/forms/components/__snapshots__/button.fixture.tsx.snap
  test/fixture/forms/components/button.fixture.tsx
Due: tslint --fix, prettier --fix

Improve `View` Component Types
  src/ui/layout/components/view.tsx
Due: tslint --fix, prettier --fix

Adding Redux Store + Onboard Reducers
  src/ui/onboarding/actions/email.ts
  src/ui/onboarding/actions/index.ts
  src/ui/onboarding/actions/names.ts
  src/ui/onboarding/actions/types.ts
  src/ui/onboarding/app.tsx
  src/ui/onboarding/reducers/email.ts
  src/ui/onboarding/reducers/index.ts
Due: tslint --fix, prettier --fix

Hooking Up Redux to Email Input + Next Button
  src/ui/onboarding/account/add.tsx
  src/ui/onboarding/containers/email.input.ts
  src/ui/onboarding/containers/email.next.button.ts
Due: tslint --fix, prettier --fix

Attempt to Fix GitHub Actions
  .github/workflows/testsuite.yml
Due: none

Tweaks to Names/Steps in Workflow
  .github/workflows/testsuite.yml
Due: none

Welcome copy edits
  src/ui/onboarding/welcome/get.started.tsx
Due: tslint --fix, prettier --fix

Mark email field as required
  src/ui/forms/components/email.text.field.tsx
  src/ui/onboarding/account/add.tsx
Due: tslint --fix, prettier --fix

Add Onboarding Nav to Server Settings Page (Empty)
  src/ui/onboarding/app.tsx
  src/ui/onboarding/initial.screen.tsx
  src/ui/onboarding/server.settings.tsx
Due: tslint --fix, prettier --fix

Improve Sandbox of App
  src/ui/communication/ipc.ts
  src/ui/menubar/components/minimize.tsx
  src/window.manager.ts
  src/window.preload.js
Due: tslint --fix, prettier --fix

More copy edits
  src/ui/onboarding/welcome/get.started.tsx
Due: tslint --fix, prettier --fix

Remove leftover console log statements
  src/window.preload.js
Due: none

Switch to Memory Router for on-boarding
  src/ui/onboarding/app.tsx
Due: tslint --fix, prettier --fix

Add DefaultValue to Email Text Inputs
  src/ui/forms/components/email.text.field.tsx
  src/ui/forms/types.ts
  src/ui/onboarding/containers/email.input.ts
Due: tslint --fix, prettier --fix

Split Out On-boarding UI Panes
  src/ui/onboarding/account/add.tsx
  src/ui/onboarding/components/action.pane.small.tsx
  src/ui/onboarding/components/welcome.pane.tsx
  src/ui/onboarding/welcome/get.started.tsx
Due: tslint --fix, prettier --fix

Simple Loading Animation Component
  images/heart.beat.light.anim.svg
  src/ui/communication/loading.tsx
Due: tslint --fix, prettier --fix

Add Content to the Second On-boarding Step
  src/ui/forms/components/button.tsx
  src/ui/onboarding/account/server.settings.tsx
  src/ui/onboarding/server.settings.tsx
  src/ui/onboarding/welcome/finding.server.tsx
Due: tslint --fix, prettier --fix

Refactor Out Base Window + Onboarding Window
  src/main.ts
  src/window.manager.ts
  src/window/base.window.ts
  src/window/onboard.window.ts
  src/window/window.manager.ts
  src/window/window.preload.js
Due: tslint --fix, prettier --fix

Add Default Value to Storage Getters
  src/config/user.ts
  src/storage/ephemeral.storage.ts
  src/storage/file.storage.ts
  src/storage/secure.storage.ts
  src/storage/storage.ts
Due: tslint --fix, prettier --fix

Setup Unhandled Exception/Rejection Handlers
  src/main.ts
  src/process.error.handlers.tsx
Due: tslint --fix, prettier --fix

Path conditions:
  tslint --fix: any of: *.{ts,tsx}
  prettier --fix: any of: *.{ts,tsx}
  yarn audit: any of: {yarn.lock,package.json}
